<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="InetBanking_V1"><listeners>

		<listener class-name="com.inetBanking.Utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
	<parameter name="browser" value="chrome" />
		
		<classes>
		  <!--   <class name="com.inetBanking.TestCases.TC_Login_001" />
		    
	    		<class name="com.inetBanking.TestCases.TC_Login_DDT_002" />  
			<class name="com.inetBanking.TestCases.TC_AddCustomerTest_003" />  
			<class name="com.inetBanking.TestCases.TC_EditCustomer_004" /> -->
			<class name="com.inetBanking.TestCases.TC_NewAccount_004" />
			
		</classes>

	</test>

</suite>